.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
