@import '/fonts/roboto/roboto.css';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  background: #333333;
}

body {
  -webkit-font-smoothing: antialiased;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;

  background-image: url('https://source.unsplash.com/random/1920x1080/?landscape');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  color: #ffffff;
}

body,
input,
button {
  font: 1rem 'Roboto', sans-serif;
}

::placeholder {
  color: #dddddd;
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

